.body {
    background-color: #111;
    color: black;
    font-family: Arial, sans-serif;
    text-align: center;;
}

#game-area {
    width: 400px;
    height: 400px;
    border: 2px solid white;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
}

#box {
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: 0.1s;
}

#top-menu {
    display: flex ;
    justify-content: center;
    background-color: #222;
    padding: 10px;
}

#top-menu button {
    background-color: #444;
    color: white;
    border: none;
    padding: 0 5px;
    margin: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

#top-meni .tab-btn.active {
    background-color: #f90;
    color: black;
}

.tab-section {
    margin-top: 20px;
}