body {
    background-color: #111;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;;
}

#game-area {
    width: 400px;
    height: 400px;
    border: 2px solid #111;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
}

#box {
    width: 60px;
    height: 60px;
    background-color: red;          /* vagy bármilyen szín */
    background-size: cover;         /* IDE kell a cover */
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: 0.1s;
}


#top-menu {
    display: flex ;
    justify-content: center;
    background-color: #222;
    padding: 10px;
}

#top-menu button {
    background-color: #444;
    color: white;
    border: none;
    padding: 0 5px;
    margin: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

#top-meni .tab-btn.active {
    background-color: #f90;
    color: black;
}

.tab-section {
    margin-top: 20px;
}

.powerup-section {
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #444;
    background: #111;
    color: white;
    width: 320px;
    margin-left: auto; 
    margin-right: auto;
}

.powerup-section h4 {
    margin-bottom: 10px;
}

#power-up-btn {
    background-color: #1e90ff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

#power-up-btn:hover {
    background-color: #187bcd;
}

#power-up-btn:disabled {
    background-color: #555;
    cursor: not-allowed;
}

.frozen {
    background-color: #00ffff !important;
    box-shadow: 0 0 15px #4fc3f7;
}

.skin-selectore {
    margin-bottom: 10px;
    background-color: #blue;
    cursor: pointer;
    padding: 10px;
}
